body {
  background-color: black;
  color: green;
}

#main a {
  font-family: 'arial';
  font-weight: bold;
  color: green;
  text-decoration: none;
  letter-spacing: 1.6px;
  font-size: 60px;
}

article {
  background: url('https://s3.amazonaws.com/Consultant/white-wall_1194-5956.jpg');
  color: black;
}
article a {
	color: blue;
  color: red;
}
img {
	padding: 5px;
	background: #fff;
	border-radius: 15px;

}