body {
  background-color: green;
  color: #000;
}

a {
  font-family: 'arial';
  font-weight: bold;
  color: green;
  text-decoration: none;
  letter-spacing: .8px;
  font-size: 65px;
  color: #000;
}

article {
  background: url('https://s3.amazonaws.com/Consultant/white-wall_1194-5956.jpg');
  color: black;
}
article a {
	color: blue;
}